<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buku Kunjungan Tamu | RSUD dr. DARSONO PACITAN</title>
    <link rel="icon" href="tamplate/assets/img/Logo-RSUD.png" type="image/x-icon"></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="center">
        <input type="checkbox" name="" id="click">
        <label for="click" class="click hire">tap</label>
        <div class="content">
            <span class="material-symbols-outlined check">task_alt</span>
            <div class="text">
                <h2>Sukses!</h2>
                <p>Terima Kasih Telah Berkunjung di <br> RSUD dr.Darsono Pacitan</p>
            </div>
            <label for="click" class="close btn">close</label>
        </div>
    </div>
</body>
</html>